## ch02. Data Type

In [1]:
7//4

1

In [2]:
3%7

3

In [5]:
a=3
b=4
a**b

81

In [7]:
"\"Python is very easy\" he says"

'"Python is very easy" he says'

In [16]:
multiline = '''
life is too short
you need python
'''
print(multiline)

life is too short
you need python

In [20]:
a= "life is too short"
len(a)

17

In [21]:
print(a*2)

life is too shortlife is too short

In [22]:
a[2]

'f'

In [23]:
a[-2]

'r'

In [24]:
a[:2]

'li'

In [25]:
a[5:]

'is too short'

In [26]:
"I eat %d apples" %503

'I eat 503 apples'

In [30]:
"I eat %s apples" %"five hundred three"

'I eat five hundred three apples'

In [31]:
number = 10
day = "three"
"i ate %d apples. so i was sick for %s days" %(number,day)

'i ate 10 apples. so i was sick for three days'

In [32]:
"%10s" % "hi"

'        hi'

In [34]:
"%-10sjane" % "hi"

'hi        jane'

In [36]:
"%0.4f" % 3.421234

'3.4212'

In [37]:
"i eat {0} apple".format(3)

'i eat 3 apple'

In [38]:
"{0:<10}".format("hi")

'hi        '

In [39]:
"{0:>10}".format("hi")

'        hi'

In [41]:
"{0:^30}".format("hi")

'              hi              '

In [44]:
"{0:=^25}".format("hi")

'===========hi============'

In [46]:
name="홍길동"
age=40
f"나의 이름은 {name}입니다. 나이는 {age+53}입니다"

'나의 이름은 홍길동입니다. 나이는 93입니다'

In [50]:
f"{'hi':<10}"

'hi        '

In [51]:
f"{'hi':>10}"

'        hi'

In [52]:
a="hobby"
a.count('b')

2

In [54]:
a.find('b')

2

In [55]:
a.index('c') #오류를 발생시킴

ValueError: substring not found

In [56]:
",".join('abcd')

'a,b,c,d'

In [57]:
a.upper()

'HOBBY'

In [58]:
a.lower()

'hobby'

In [60]:
a="    hi         "
a.lstrip()

'hi         '

In [62]:
a.replace("h","B")

'    Bi         '

In [63]:
a= "Life is too short"
a.split()

['Life', 'is', 'too', 'short']

In [2]:
multiline = '''---------------------
Hello,Python
---------------------
'''
print(multiline)

---------------------
Hello,Python
---------------------

### 2-4 Dictionary

In [ ]:
# key,value 쌍으로 구성된 자료: 자료의 순서가 없다(index 없다)
# 자바: Map
# list 자료에서 사용하는 apeend,insert,remove,sort사용불가(index를 사용하지 않으므로 )

In [5]:
a={1:"hi",2:[1,2,3]}
print(a)
del a[1]
print(a)
print(a[2][0])

{1: 'hi', 2: [1, 2, 3]}
{2: [1, 2, 3]}
1

In [8]:
a={1:'a',1:'b'}
a

{1: 'b'}

In [18]:
a={'name':'prey','phone':'01022223333'}
a.keys()

dict_keys(['name', 'phone'])

In [16]:
for k in a.keys():
    print(k)

name
phone

In [17]:
list(a.keys())

['name', 'phone']

In [20]:
#values
a.values()

dict_values(['prey', '01022223333'])

In [22]:
a.items()

dict_items([('name', 'prey'), ('phone', '01022223333')])

In [26]:
#clear 안에 있는 모든것을 지운다
a.clear()
a

{}

In [27]:
a={'name':'prey','phone':'01022223333'}
a.keys()

dict_keys(['name', 'phone'])

In [36]:
a.get('name')

a.get('nokey')
#print(a['nokey'])

print(a.get('aaaa','bbbb')) # key 가 업ㅇ슬 경우 default 값 출력

'name' in a

bbbb

True

### 02-5 Tuple Type

In [ ]:
#tuple:(), list:[],dic:{}
#tuple: 값 변경 불가

t1=()
t2=(1) #하나의 값인 경우 (,)
t3=(1,2,3)
t4=1,2,3
t5=('a','b',('ab','bc'))

In [ ]:
t1=(1,2,'a','b')
del t1[0]

t1[0]='c'

In [50]:
#tuple : +,*
t1[0]

print(t1[1:])

t2=(3,4)
print(t1+t2)
print(t1*3)
print(len(t1))

(2, 'a', 'b')
(1, 2, 'a', 'b', 3, 4)
(1, 2, 'a', 'b', 1, 2, 'a', 'b', 1, 2, 'a', 'b')
4

### 02-6 SET

In [52]:
#set : 순서(X), 중복(X) 자료
#set()

In [72]:
s1=set([1,2,3])
s1
s2=set("abcd")

print(s1)
print(s2)

li = list(s1)
li2 = list(s2)
print(li)
print(li2)

t1=tuple(s1)
print(t1)

{1, 2, 3}
{'a', 'd', 'b', 'c'}
[1, 2, 3]
['a', 'd', 'b', 'c']
(1, 2, 3)

In [9]:
#교집합 : &, intersection()
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])

print(s1&s2)
print(s1.intersection(s2))

print(s1|s2)
print(s1.union(s2))

print(s1-s2)
print(s1.difference(s2))

s1.add(7)
print(s1)

s1.update([10,11,12]) #update(): 여러개의 값을 추가

s1.remove(2)
print(s1)

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 4, 5, 6, 7, 10, 11, 12}

### 02-7 Bool Type

In [77]:
if []:
    print('참')
else:
    print('거짓')

거짓

### 02-8 Variable

In [1]:
a=[1,2,3]
print(id(a)) #객체의 주소값 리턴

b=a 
print(id(b))

b=a[:] #copy
print(b)

from copy import copy
b= copy(a)

print(b)

a,b=('python','life')
(a,b)='python','life'

a,b= b,a #데이터 맞교환

print(a)

2378786363144
2378786363144
[1, 2, 3]
[1, 2, 3]
life

### 2-9 Casting

In [6]:
a=int(input("첫번째 숫자를 입력하세요?"))
b=int(input("두번째 숫자를 입력하세요?"))

print(a+b)

첫번째 숫자를 입력하세요?1
두번째 숫자를 입력하세요?3
4

### 숫자와 문자열 사이의 형변환

In [16]:
iNumber = int('7')
print(iNumber,type(iNumber))

fNumber = float('7.02')
print(fNumber,type(fNumber))

sNumber = str(iNumber)
print(sNumber,type(sNumber))

print('-'*20)

#list&tuple 사이의형변환
myList=[1,2,3]
print(myList,type(myList))

myTuple = tuple(myList)
print(myTuple,type(myTuple))

7 <class 'int'>
7.02 <class 'float'>
7 <class 'str'>
--------------------
[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

7.02 <class 'float'>