# P06. 데이터 로딩과 저장, 파일형식

In [12]:
# cat: linux 명령어 , 사용불가
# !cat examples/ex1.csv
#magic command: notebook 전용 명령어: %
#pwd : present work directory
%pwd

!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 5888-77C7

 C:\JupyterSpace 디렉터리

2019-11-18  오후 02:13    <DIR>          .
2019-11-18  오후 02:13    <DIR>          ..
2019-11-15  오후 03:30    <DIR>          .ipynb_checkpoints
2019-11-08  오후 03:52    <DIR>          Do IT
2019-11-15  오후 03:36                63 ex11.csv
2019-11-15  오후 01:48    <DIR>          examples
2019-10-30  오후 04:35           325,262 p01_start.html
2019-10-31  오후 05:14            75,240 p01_start.ipynb
2019-11-01  오후 04:39             4,447 p01_TurtleRun.ipynb
2019-11-08  오후 04:21             1,843 p02_python_basic.ipynb
2019-11-11  오후 02:36               555 p03_Function_File.ipynb
2019-11-13  오후 03:43            67,243 p04_Numpy.ipynb
2019-11-15  오후 03:28           142,564 p05_Pandas.ipynb
2019-11-18  오후 02:13            27,403 p06_collection.ipynb
               9개 파일             644,620 바이트
               5개 디렉터리  418,762,747,904 바이트 남음

In [10]:
# cat에 해당하는 윈도우 명령어: type
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv('C:/JupyterSpace/ex11.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [11]:
pd.read_table('C:/JupyterSpace/examples/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
pd.read_csv('examples/ex2.csv', header=None)
pd.read_csv('examples/ex2.csv', names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
names=['a','b','c','d','message']
pd.read_csv('examples/ex2.csv',names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [14]:
#!cat examples/ex3.txt

!type examples\csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [15]:
parsed=pd.read_csv('examples\csv_mindex.csv', index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [7]:
list(open('examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [8]:
result=pd.read_table('examples/ex3.txt', sep="\s+")
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [16]:
#!cat examples\ex4.csv
!type examples\ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [17]:
#skiprows=[0,2,3]  index의 0,2,3 건너뛰기
pd.read_csv('examples\ex4.csv',skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
!type examples\ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [10]:
result=pd.read_csv('examples/ex5.csv', na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [11]:
sentinels= {'message':['foo', 'NA'], 'something':['two']}
pd.read_csv('examples/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [12]:
# 텍스트 파일 조금씩 읽어오기
pd.options.display.max_rows =10
result = pd.read_csv('examples/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [13]:
pd.read_csv('examples/ex6.csv',nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [14]:
chunker=pd.read_csv('examples/ex6.csv',chunksize=1000)
chunker

In [18]:
chunker=pd.read_csv('examples/ex6.csv',chunksize=1000)
tot=pd.Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(), fill_value=0)
    
tot=tot.sort_values(ascending=False)
tot[ :10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

In [19]:
#247
data=pd.read_csv('examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [20]:
#파일 저장:csv

data.to_csv('examples/out22.csv')

In [22]:
!type examples\out22.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [23]:
import sys
data.to_csv(sys.stdout, sep='|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [24]:
data.to_csv(sys.stdout, na_rep='NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [25]:
data.to_csv(sys.stdout, index=False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [26]:
data.to_csv(sys.stdout, index=False, columns=['a','b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [28]:
#날짜 저장
dates=pd.date_range('1/1/2019', periods=7)
ts=pd.Series(np.arange(7),index=dates)
ts.to_csv('examples/tseries22.csv')

!type examples\tseries22.csv

2019-01-01,0
2019-01-02,1
2019-01-03,2
2019-01-04,3
2019-01-05,4
2019-01-06,5
2019-01-07,6

In [29]:
#249
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"1","2","3"

In [30]:
import csv
f=open('examples\ex7.csv')
reader=csv.reader(f)

for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [34]:
#dictionary 로  변경
with open('examples\ex7.csv') as f:
    lines=list(csv.reader(f))
    
header, values =lines[0], lines[1:]
data_dict={h: v for h, v in zip(header,zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

#### JSON 데이터

In [36]:
obj="""
{"name":"Wes",
"placed_lived":["Unted States","Spain","Germany"],
"pet":null,
"siblings": [{"name":"Scott","age":30, "pets":["Zeus","Zuko"]},
                  {"name":"Katie", "age":38, "pets":["Sixes","Stache","Cisco"]}]}
"""

import json
result=json.loads(obj)
result

{'name': 'Wes',
 'placed_lived': ['Unted States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [38]:
asjson=json.dumps(result)
siblings=pd.DataFrame(result['siblings'], columns=['name','age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [39]:
!type examples\example.json

[{"a": 1, "b": 2, "c": 3},
 {"a": 4, "b": 5, "c": 6},
 {"a": 7, "b": 8, "c": 9}]

In [40]:
data=pd.read_json('examples\example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [41]:
print(data.to_json())
print(data.to_json(orient='records')) #record= row=tuple

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}
[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [ ]:
#### XML & HTML : Web Scraping