# P12_ 고급 Pandas

## 1. Categorical Data 범주형 데이터 

#### 명목형 데이터 : 어떤 순서도 의미하지 않음(예: 빨강, 노랑, 파랑)
#### 순위형 데이터 : 순위를 매길 수 있는 것

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [20]:
#범주형 데이터 다루기
df=pd.DataFrame([['green','M','10.1','class1'],['red','L','13.5','class2'],['blue','XL','15.3','class1']])

df.columns=['color','size','price','classlabel']
df

   color size price classlabel
0  green    M  10.1     class1
1    red    L  13.5     class2
2   blue   XL  15.3     class1

In [21]:
#size에 대해서 순위형피쳐(컬럼) 매핑
#사전형태로 map()을 이용해서 str 변환
size_mapping={'XL':3,'L':2,'M':1}
df['size']=df['size'].map(size_mapping)
df

   color  size price classlabel
0  green     1  10.1     class1
1    red     2  13.5     class2
2   blue     3  15.3     class1

In [22]:
#순위형 피처(컬럼) 매핑/ 원래값 갖고오기
inv_size_mapping={v:k for k,v in size_mapping.items()}
inv_size_mapping

{3: 'XL', 2: 'L', 1: 'M'}

In [23]:
df['size']=df['size'].map(inv_size_mapping)
df

   color size price classlabel
0  green    M  10.1     class1
1    red    L  13.5     class2
2   blue   XL  15.3     class1

In [43]:
#분류형 만들기
class_mapping={label:idx for idx,label in enumerate(np.unique(df['classlabel']))}
class_mapping

{0: 0, 1: 1, 2: 2}

In [44]:
df['classlabel']=df['classlabel'].map(class_mapping)
df

   color size price  classlabel
0  green    M  10.1           0
1    red    L  13.5           1
2   blue   XL  15.3           2

In [39]:
#분류형(classfication) 만들기/원래값 갖고 오기
inv_class_mapping={v:k for k,v in class_mapping.items()}
inv_class_mapping

{0: 'class1', 1: 'class2'}

In [40]:
df['classlabel']=df['classlabel'].map(inv_class_mapping)
df

   color size price classlabel
0  green    M  10.1        NaN
1    red    L  13.5        NaN
2   blue   XL  15.3        NaN

In [42]:
# 분류형 데이터를 sklearn 활용해서 변환하기
from sklearn.preprocessing import LabelEncoder
class_le=LabelEncoder();
y=class_le.fit_transform(df['classlabel'].values)
df['classlabel']=y
df

   color size price  classlabel
0  green    M  10.1           0
1    red    L  13.5           1
2   blue   XL  15.3           2