# 2장

## Q1

In [5]:
k = 80
e = 75
m = 55
(k+e+m)/3

70.0

## Q2

In [9]:
if 13%2!=1:
    print('짝수')
else:
    print('홀수')

홀수

## Q3

In [19]:
pin = "881120-1068234"
print(pin[0:6])
print(pin[7:])

881120
1068234

## Q4

In [20]:
pin[7]

'1'

## Q5

In [25]:
a= "a:b:c:d"
a.replace(":","#")

'a#b#c#d'

## Q6

In [37]:
b=[1,3,5,4,2]
b.sort()
b.reverse()
b

[5, 4, 3, 2, 1]

## Q7

In [49]:
c=["Life","is","too","short"]
" ".join(c)

'Life is too short'

## Q8

In [65]:
t=(1,2,3)
t2=(4,)
t + t2

(1, 2, 3, 4)

## Q9

In [ ]:
a=dict()
a['name']='python'
a[('a',)]='python'
#a[[1]]='python'
a[250]='python'
# 쌍괄호라서

## Q10

In [74]:
a={'A':90,'b':80,'c':70}
a.pop('b')

80

## Q11

In [79]:
a=[1,1,1,2,2,3,3,3,4,4,5]
set(a)

{1, 2, 3, 4, 5}

## Q12

In [83]:
a=b=[1,2,3]
a[1]=4
print(b)

#주소값이 동일하기 때문에

[1, 4, 3]

# 3장

## Q1

In [85]:
a= "Life is too short, you need python"

if "wife" in a: 
    print("wife")
elif "python" in a and "you" not in a: 
    print("python")
elif "shirt" not in a: 
    print("shirt")
elif "need" in a: 
    print("need")
else: print('none')

shirt

## Q2

In [129]:
a=1
c=0
while a < 1001:
    a= a+1
    if a%3 == 0:
        c=c+a
      
print(c)

166833

## Q3

In [106]:
a=1
while a < 6:
    print("*"*a)
    a= a+1

*
**
***
****
*****

## Q4

In [115]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Q5

In [139]:
A=[70,60,55,75,95,90,80,80,85,100]
c=0
for a in A:
    c=c+a
print(c/len(A))

79.0

## Q6

In [1]:
numbers = [1,2,3,4,5]

result=[n*2 for n in numbers if n%2==1]

print(result)

[2, 6, 10]

# Ch03 연습문제

In [2]:
#1번이 납니다

In [5]:
myList = []
for i in range(0,100):
    myList.append(0)
len(myList)

100

In [8]:
myList=[]
for i in range(0,3):
    myList.append(0)
hap=0

for i in range(0,3):
    myList[i] = int(input(str(i+1)+"번째 숫자 : "))
    
for k in range(0,3):
    hap = hap +myList[k]
    
print("합계==>%d" %hap)

1번째 숫자 : 1
2번째 숫자 : 2
3번째 숫자 : 3
합계==>6