# p05. Pandas

### 표 형식의 데이터나 다양한 형태으 데이터를 다루는데 촛점
### (Panda: Excel 형식과 비슷)
### (Numpy: 단일 산술 배열 데이터를 다루는데 특화) : data만 존재, index(암묵적)

## 1. Series : 1차원 배열

In [3]:
import numpy as np
import pandas as pd

obj=pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
obj.dtype

dtype('int64')

In [18]:
obj2=pd.Series([4,7,-5,3],index=['d','b','a','c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [17]:
sdata={'kim':35000,'hong1':67000,'h2':12000,'h3':40000}
print(sdata)

obj3=pd.Series(sdata)
print(obj3)

{'kim': 35000, 'hong1': 67000, 'h2': 12000, 'h3': 40000}
kim      35000
hong1    67000
h2       12000
h3       40000
dtype: int64

In [20]:
obj3.index=['a','b','c','d']
obj3

a    35000
b    67000
c    12000
d    40000
dtype: int64

## 2. Data Frame

In [26]:
# 행과 열의 구조를 가진 데이터 생성

data={'name':['hong1','hong2','hong3','hong4','hong5'],'year':[2015,2016,2016,2017,2018],'points':[1.5,1.7,3.6,2.4,3.2]}
print(data)

df=pd.DataFrame(data)
print(df)

{'name': ['hong1', 'hong2', 'hong3', 'hong4', 'hong5'], 'year': [2015, 2016, 2016, 2017, 2018], 'points': [1.5, 1.7, 3.6, 2.4, 3.2]}
    name  year  points
0  hong1  2015     1.5
1  hong2  2016     1.7
2  hong3  2016     3.6
3  hong4  2017     2.4
4  hong5  2018     3.2

In [30]:
### 행 방향의 index

df.index

RangeIndex(start=0, stop=5, step=1)

In [31]:
### 열 방향의 index

df.columns

Index(['name', 'year', 'points'], dtype='object')

In [33]:
#값 얻기

df.values

array([['hong1', 2015, 1.5],
       ['hong2', 2016, 1.7],
       ['hong3', 2016, 3.6],
       ['hong4', 2017, 2.4],
       ['hong5', 2018, 3.2]], dtype=object)

In [38]:
#각 인덱스에 대한 이름 설정하기

df.index.name='Num'
df.columns.name='Info'

df

Info   name  year  points
Num
0     hong1  2015     1.5
1     hong2  2016     1.7
2     hong3  2016     3.6
3     hong4  2017     2.4
4     hong5  2018     3.2

In [45]:
# DataFrame 만들면서 columns & index 설정
df2=pd.DataFrame(data,columns=['year','name','points','penalty'],index=['one','two','three','four','five'])

df2

       year   name  points penalty
one    2015  hong1     1.5     NaN
two    2016  hong2     1.7     NaN
three  2016  hong3     3.6     NaN
four   2017  hong4     2.4     NaN
five   2018  hong5     3.2     NaN

## 3. DataFrame Indexing

In [7]:
import numpy as np
import pandas as pd

data={"names":['h1','h2','h3','h4','h5'],
     "year":[2015,2016,2017,2018,2019],
     "points":[1.5,1.6,1.7,1.8,1.9]
     }
print(data)
df=pd.DataFrame(data,columns=['year','names','points','penality'],index=[1,2,3,4,5])
print(df)

{'names': ['h1', 'h2', 'h3', 'h4', 'h5'], 'year': [2015, 2016, 2017, 2018, 2019], 'points': [1.5, 1.6, 1.7, 1.8, 1.9]}
   year names  points penality
1  2015    h1     1.5      NaN
2  2016    h2     1.6      NaN
3  2017    h3     1.7      NaN
4  2018    h4     1.8      NaN
5  2019    h5     1.9      NaN

In [9]:
df

   year names  points penality
1  2015    h1     1.5      NaN
2  2016    h2     1.6      NaN
3  2017    h3     1.7      NaN
4  2018    h4     1.8      NaN
5  2019    h5     1.9      NaN

In [12]:
#DataFrame에서 열을 선택하고 조작

df['year']

1    2015
2    2016
3    2017
4    2018
5    2019
Name: year, dtype: int64

In [14]:
df.year

1    2015
2    2016
3    2017
4    2018
5    2019
Name: year, dtype: int64

In [20]:
df[['year','names']]

   year names
1  2015    h1
2  2016    h2
3  2017    h3
4  2018    h4
5  2019    h5

In [25]:
df.penality=0.5
df.penality

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
Name: penality, dtype: float64

In [49]:
df.penality=[0.1,0.2,0.2,0.3,0.3]
df.penality

1    0.1
2    0.2
3    0.2
4    0.3
5    0.3
Name: penality, dtype: float64

In [50]:
#새로운 열 추가 ( 열이름:abc,value:0~4)
df['abc']=np.arange(5)
df

   year names  points  penality  abc  bcd  points_penalty
1  2015    h1     1.5       0.1    0  NaN             1.4
2  2016    h2     1.6       0.2    1 -1.2             1.4
3  2017    h3     1.7       0.2    2  NaN             1.5
4  2018    h4     1.8       0.3    3 -1.5             1.5
5  2019    h5     1.9       0.3    4 -1.7             1.6

In [53]:
#Series를 추가
#:index에 맞추어서 데이터 저장가능(numpy 다른점)


val=pd.Series([-1.2,-1.5,-1.7],
             index=[2,4,5]
             )
df['bcd']=val
df

   year names  points  penality  abc  bcd  points_penalty
1  2015    h1     1.5       0.1    0  NaN             1.4
2  2016    h2     1.6       0.2    1 -1.2             1.4
3  2017    h3     1.7       0.2    2  NaN             1.5
4  2018    h4     1.8       0.3    3 -1.5             1.5
5  2019    h5     1.9       0.3    4 -1.7             1.6

In [54]:
df['points_penalty']=df['points']-df['penality']
df

   year names  points  penality  abc  bcd  points_penalty
1  2015    h1     1.5       0.1    0  NaN             1.4
2  2016    h2     1.6       0.2    1 -1.2             1.4
3  2017    h3     1.7       0.2    2  NaN             1.5
4  2018    h4     1.8       0.3    3 -1.5             1.5
5  2019    h5     1.9       0.3    4 -1.7             1.6

In [58]:
df['tof']=df['points_penalty']>=1.5
df

   year names  points  penality  abc  bcd  points_penalty    tof
1  2015    h1     1.5       0.1    0  NaN             1.4  False
2  2016    h2     1.6       0.2    1 -1.2             1.4  False
3  2017    h3     1.7       0.2    2  NaN             1.5   True
4  2018    h4     1.8       0.3    3 -1.5             1.5   True
5  2019    h5     1.9       0.3    4 -1.7             1.6   True

In [73]:
## 열 삭제
del df['bcd']
del df['points_penalty']
del df['tof']
df

   year names  points  penality  abc
1  2015    h1     1.5       0.1    0
2  2016    h2     1.6       0.2    1
3  2017    h3     1.7       0.2    2
4  2018    h4     1.8       0.3    3
5  2019    h5     1.9       0.3    4

In [76]:
df.columns

Index(['year', 'names', 'points', 'penality', 'abc'], dtype='object')

In [78]:
df.index.name='Order'
df.columns.name='Info'
df

Info   year names  points  penality  abc
Order
1      2015    h1     1.5       0.1    0
2      2016    h2     1.6       0.2    1
3      2017    h3     1.7       0.2    2
4      2018    h4     1.8       0.3    3
5      2019    h5     1.9       0.3    4

In [80]:
#DataFrame에서 행을 선택하고 조작하기
df[0:3]

Info   year names  points  penality  abc
Order
1      2015    h1     1.5       0.1    0
2      2016    h2     1.6       0.2    1
3      2017    h3     1.7       0.2    2

In [82]:
df[1:4]

Info   year names  points  penality  abc
Order
2      2016    h2     1.6       0.2    1
3      2017    h3     1.7       0.2    2
4      2018    h4     1.8       0.3    3

In [84]:
df.loc[2]

Info
year        2016
names         h2
points       1.6
penality     0.2
abc            1
Name: 2, dtype: object

In [87]:
df.loc[2:4]

Info   year names  points  penality  abc
Order
2      2016    h2     1.6       0.2    1
3      2017    h3     1.7       0.2    2
4      2018    h4     1.8       0.3    3

In [89]:
df.loc[2:4,'points']

Order
2    1.6
3    1.7
4    1.8
Name: points, dtype: float64

In [93]:
df.loc[:,'year']

Order
1    2015
2    2016
3    2017
4    2018
5    2019
Name: year, dtype: int64

In [97]:
#새로운 행 삽입하기
df.loc[6,:]=[2020,'h3',1.9,0.1,4]
df

Info     year names  points  penality  abc
Order
1      2015.0    h1     1.5       0.1  0.0
2      2016.0    h2     1.6       0.2  1.0
3      2017.0    h3     1.7       0.2  2.0
4      2018.0    h4     1.8       0.3  3.0
5      2019.0    h5     1.9       0.3  4.0
6      2020.0    h3     1.9       0.1  4.0

In [99]:
#iloc : index location
df.iloc[3]

Info
year        2018
names         h4
points       1.8
penality     0.3
abc            3
Name: 4, dtype: object

In [101]:
df.iloc[[0,1,3],[1,2]]

Info  names  points
Order
1        h1     1.5
2        h2     1.6
4        h4     1.8

In [102]:
df.iloc[:,1:4]

Info  names  points  penality
Order
1        h1     1.5       0.1
2        h2     1.6       0.2
3        h3     1.7       0.2
4        h4     1.8       0.3
5        h5     1.9       0.3
6        h3     1.9       0.1

In [104]:
df.iloc[0,1]

'h1'

## 4. DatatFrame에서 boolean indexing

In [107]:
df['year']>2016

Order
1    False
2    False
3     True
4     True
5     True
6     True
Name: year, dtype: bool

In [110]:
# 2016보다 큰 모든 행의 값

df.loc[df['year']>2016,:]

Info     year names  points  penality  abc
Order
3      2017.0    h3     1.7       0.2  2.0
4      2018.0    h4     1.8       0.3  3.0
5      2019.0    h5     1.9       0.3  4.0
6      2020.0    h3     1.9       0.1  4.0

In [112]:
df.loc[df['names']=='h2',['names','points']]

Info  names  points
Order
2        h2     1.6

In [116]:
df.loc[df['points']>1.8,'penallity']=0
df

Info     year names  points  penality  abc  penallity
Order
1      2015.0    h1     1.5       0.1  0.0        NaN
2      2016.0    h2     1.6       0.2  1.0        NaN
3      2017.0    h3     1.7       0.2  2.0        NaN
4      2018.0    h4     1.8       0.3  3.0        NaN
5      2019.0    h5     1.9       0.3  4.0        0.0
6      2020.0    h3     1.9       0.1  4.0        0.0

In [119]:
df = pd.DataFrame(np.random.randn(5,4))
df

          0         1         2         3
0  0.265056  1.526460  0.125584  1.234137
1  0.476148  1.027264 -0.359975  0.004762
2  0.559574  0.561927 -3.151012 -1.018067
3 -0.506168  0.515382 -1.146075  0.250896
4  0.795575 -0.599559 -0.827145 -2.149403

In [125]:
df.columns=['A','B','C','D']
df.index=pd.date_range('20191114',periods=5)
df

                   A         B         C         D
2019-11-14  0.265056  1.526460  0.125584  1.234137
2019-11-15  0.476148  1.027264 -0.359975  0.004762
2019-11-16  0.559574  0.561927 -3.151012 -1.018067
2019-11-17 -0.506168  0.515382 -1.146075  0.250896
2019-11-18  0.795575 -0.599559 -0.827145 -2.149403

In [126]:
df.isnull()

                A      B      C      D
2019-11-14  False  False  False  False
2019-11-15  False  False  False  False
2019-11-16  False  False  False  False
2019-11-17  False  False  False  False
2019-11-18  False  False  False  False

In [129]:
# F열에서 NaN값을 포함하는 행만 추출
df.loc[df.isnull()['F'] ,:]

KeyError: 'F'

In [132]:
pd.to_datetime('20191114')

Timestamp('2019-11-14 00:00:00')

In [135]:
#특정행 drop하기
df.drop([pd.to_datetime('20191116'),pd.to_datetime('20191119')])

KeyError: "labels [Timestamp('2019-11-19 00:00:00')] not contained in axis"

In [136]:
#특정 열 삭제
df.drop(['B','D'],axis=1)

                   A         C
2019-11-14  0.265056  0.125584
2019-11-15  0.476148 -0.359975
2019-11-16  0.559574 -3.151012
2019-11-17 -0.506168 -1.146075
2019-11-18  0.795575 -0.827145

## 5. Data 분석용 함수들

In [142]:
data=[[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]]
df=pd.DataFrame(data,columns=['one','two'],
               index=['a','b','c','d']
               )
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [147]:
#행 방향으로 합(즉 열의 합)
print(df.sum(axis=0))

one    9.25
two   -5.80
dtype: float64

In [148]:
#열 방향으로 합(즉 행의 합)
print(df.sum(axis=1))

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [150]:
df.sum(axis=1,skipna=False) # nan도 계싼에 참여

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [154]:
#특정행이나 열에서 계싼
df['one'].sum()

9.25

In [156]:
df.loc['b'].sum()

2.5999999999999996

In [159]:
df2=pd.DataFrame(np.random.randn(6,4),columns=["A","B","C","D"],index=pd.date_range("20191114",periods=6))
df2

                   A         B         C         D
2019-11-14 -1.624787  0.714641  1.210595 -0.149293
2019-11-15 -0.724577  0.619740 -2.670382  0.162613
2019-11-16  0.090466 -1.253778 -2.055133 -1.472174
2019-11-17  0.630879  0.593352  0.299389 -0.800079
2019-11-18 -0.349053  0.762144  0.452586  0.222282
2019-11-19 -1.689324 -3.326241  0.308186 -1.827232

In [161]:
#A열과 B열의 상관계수 구하기
df2['A'].corr(df2['B'])

0.3686339322108976

In [162]:
#B열과 C열의 공분산 구하기
df2['B'].cov(df2['C'])

0.10221006078053972